name: C/C++ CI

on: [push]

defaults:
  run:
    shell: bash

env:
  VCPKG_GIT_COMMIT_ID: 3a3a222be369b556e4635714c8d6acc990e1f13b
  VCPKG_GIT_URL: https://github.com/PazerOP/vcpkg.git
  VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
  X_VCPKG_NUGET_ID_PREFIX: repo_mh_stuff

jobs:
  ci-linux:
    # name: ${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        MH_STUFF_COMPILE_LIBRARY: [true, false]
        # compiler: [clang++-11, clang++-10, g++-10, clang++-9, g++-9, clang++-8, g++-8, clang++-7]
        compiler:
          - exe: clang++-11
            deps: clang-11 libc++-11-dev libc++abi-11-dev
          - exe: clang++-10
            deps: clang-10 libc++-10-dev libc++abi-10-dev
          - exe: clang++-9
            deps: clang-9 libc++-9-dev libc++abi-9-dev
          - exe: clang++-8
            deps: clang-8 libc++-8-dev libc++abi-8-dev
          - exe: clang++-7
            deps: clang-7 libc++-7-dev libc++abi-7-dev
          - exe: g++-10
            deps: g++-10
          - exe: g++-9
            deps: g++-9
          - exe: g++-8
            deps: g++-8

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Setup NuGet Credentials
      run: >
        nuget sources add
        -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "${{ github.repository_owner }}"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - uses: lukka/run-vcpkg@v7
      id: runvcpkg
      with:
        setupOnly: true
        vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}
        vcpkgGitURL: ${{ env.VCPKG_GIT_URL }}

    - name: Add repos
      run: |
        sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 15CF4D18AF4F7421
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        echo "deb http://apt.llvm.org/focal/ llvm-toolchain-focal main" | sudo tee /etc/apt/sources.list.d/llvm.list

    - name: Add repos - llvm-11
      if: matrix.compiler.exe == 'clang++-11'
      run: echo "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-11 main" | sudo tee -a /etc/apt/sources.list.d/llvm.list

    - name: Add repos - llvm-12
      if: matrix.compiler.exe == 'clang++-12'
      run: echo "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-12 main" | sudo tee -a /etc/apt/sources.list.d/llvm.list

    - name: Update repos
      run: sudo apt update

    - name: Install compilers and tools
      run: |
        # sudo rm -rf /var/lib/apt/lists/*
        # sudo apt clean
        sudo apt install ${{ matrix.compiler.deps }} ninja-build -y
        sudo pip3 install gcovr

        echo Ensuring programs work...
        ${{ matrix.compiler.exe }} --version
        ninja --version
        gcovr --version

    # - name: Run tests
    #   working-directory: ./test
    #   run: make -j`grep -c ^processor /proc/cpuinfo` ${{ matrix.compiler }}_test_output.txt

    - name: Build
      env:
        CXX: ${{ matrix.compiler.exe }}
        CXXFLAGS: -Wall -Wpedantic -Wextra -Werror
      run: |
        mkdir build
        cd build

        cmake --version

        cmake -G Ninja \
          -DCMAKE_TOOLCHAIN_FILE="$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" \
          -DMH_STUFF_COMPILE_LIBRARY=${{ matrix.MH_STUFF_COMPILE_LIBRARY }} \
          ../

        cmake --build .

    - name: Run tests
      env:
        CXX: ${{ matrix.compiler.exe }}
      run: |
        cd build

        ctest --version
        ctest --output-on-failure

        gcovr --version
        gcovr --root "../" --exclude ".*/catch.hpp" --exclude ".*/test_compile_file/.*" --exclude ".*/test/.*" --sort-percentage --html-details "results_${{ matrix.compiler.exe }}.html" .

    - name: Save test results
      if: ${{ matrix.MH_STUFF_COMPILE_LIBRARY }}
      uses: actions/upload-artifact@v2
      with:
        name: gcovr_results_${{ matrix.compiler.exe }}
        path: build/results*.html



  ci-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        MH_STUFF_COMPILE_LIBRARY: [true, false]

    steps:
    - uses: actions/checkout@v2.3.4

    # - uses: NuGet/setup-nuget@v1.0.5
    - name: Setup NuGet Credentials
      run: >
        nuget sources add
        -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "${{ github.repository_owner }}"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - uses: lukka/run-vcpkg@v7
      with:
        setupOnly: true
        vcpkgGitCommitId: ${{ env.VCPKG_GIT_COMMIT_ID }}
        vcpkgGitURL: ${{ env.VCPKG_GIT_URL }}

    - uses: seanmiddleditch/gha-setup-ninja@v3
    - name: Setup compiler paths
      uses: ilammy/msvc-dev-cmd@v1.5.0

    - name: Build
      run: |
        mkdir build
        cd build

        cmake -G Ninja \
          -DCMAKE_TOOLCHAIN_FILE="$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" \
          -DMH_STUFF_COMPILE_LIBRARY=${{ matrix.MH_STUFF_COMPILE_LIBRARY }} \
          ../

        cmake --build .

    - name: Run tests
      run: |
        cd build
        ctest --output-on-failure
